/*CSS pour Page des différents Jeux*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    margin: auto 0;
}

section {
    display: inline-block;
    vertical-align: top;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.boite_jeu {
    width: 65%;
}

.boite_infos {
    width: 25%;
}

article {
    width: 100%;
    height: auto;
    border: none;
}

h1 {
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 26px;
}

iframe {
    border: 1px solid black;
    width: 100%
}

.output {
    background: #eee;
}