/* CSS pour Leaderboard */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

section {
    width: 95%;
    height: 500px;
    border: none;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: lightgray;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}

h1 {
    font-family: Open Sans Condensed;
    font-size: 26px;
}