table {
    border: none;
}

td[id] {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #D6D6D6;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0px white;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}

td[id]:hover {
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.marge {
    border: 3px solid white;
    background: black;
}

button {
    margin: 10px;
}
